<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net461" />
  <package id="InteractionRequest.Core" version="1.0.10" targetFramework="net461" />
  <package id="InteractionRequest.WPF" version="1.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net461" />
  <package id="Prism.Forms" version="6.3.0" targetFramework="net461" />
  <package id="Prism.Unity" version="6.3.0" targetFramework="net461" />
  <package id="Prism.Unity.Forms" version="6.3.0" targetFramework="net461" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net461" />
  <package id="PrismWithUnityExtensions" version="4.0.0.0" targetFramework="net461" />
  <package id="ReactiveProperty" version="8.1.2" targetFramework="net461" />
  <package id="ReactiveProperty.Core" version="8.1.2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
  <package id="Unity" version="4.0.1" targetFramework="net461" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net461" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net461" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net461" />
</packages>